.top-link {
    cursor: pointer;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17.5px;
    font-weight: 500;
}

.top-link:focus {
    color: #9BA3B4;
}

body.dark-mode .top-link:hover,
.anchor:hover {
    color: white;
}

.top-link:hover,
.anchor:hover {
    color: #2B2B2B;

}

.top-link,
.anchor {
    color: #2B2B2B;
    text-decoration: none;
}

body.dark-mode .top-link,
.anchor {
    color: #9BA3B4;
    text-decoration: none;

}

.top-link:focus,
.anchor:focus {
    color: inherit;

}

.top-link:visited,
.anchor:visited {
    color: #9BA3B4;
}

.box {
    display: flex;
    align-items: center;
    position: relative;
}

.box svg {
    position: absolute;
    top: 7px;
    left: 5px;
    fill: #9BA3B4;
}

.box input {
    padding-left: 28px;
    padding-block: 7px;
    margin-right: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #9BA3B4;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 315px;
    height: 40px;
    border: 0.5px solid;
    border-radius: 20px;
    padding-left: 15px;
    border-color: #282828;
}

.anchor {

    font-size: 14px;
    font-weight: 700;
}

.lines {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.left-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border-radius: 6px;
    height: 35px;
    width: 200px;
    font-size: 15px;
    border-color: #0069B9 !important;
    border: 0.5px solid !important;
    padding-left: 2%;
}

body.dark-mode input {
    border-radius: 6px;
    height: 35px;
    width: 200px;
    font-size: 15px;
    border-color: #0069B9 !important;
    background-color: #131313;
    border: 0.5px solid #9BA3B4 !important;
    padding-right: 2%;
    color: white !important;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.tag {

    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550 !important;
    margin-bottom: 30px;
}

.btn {
    background-color: #0069B9;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: 550;

    margin-left: 5px;
}

.btn:hover {
    background-color: #005ea6;
    cursor: pointer;
}

.download-icon:hover {

    background-color: #8a8a8a32;
    cursor: pointer;
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

body {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #131313;
    color: white;
}

.popup {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

body.dark-mode .popup {
    color: white;
}

.sun-moon-love:hover {

    background-color: #8a8a8a98;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    right: auto;

}

.sun-moon-love {

    background-color: transparent;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    right: 5px;
}

img.sun-moon-love {
    background-color: transparent !important;
    padding-right: 20px;
}

.navbar {

    width: 1400px;
}